body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="radio"] {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#wrapper {
    margin-top: 20px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1e201e;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #576458;
}